* {
    margin: 0;
    padding: 0;
    border: 0;
}

#canvas1 {
    position: absolute;
}

#controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}

button {
    padding: 10px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cyan;
}
button:hover {
    color: cyan;
    background-color: black;
}